<a href="https://colab.research.google.com/github/MTahaRF/OIBSIP/blob/main/oibsip_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

#Loading Data

In [ ]:
df=pd.read_csv("/content/car data.csv")
df.shape

(301, 9)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Driven_kms     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Selling_type   301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

#Selling_Price is the Target Variable

#Understanding the Data

In [ ]:
df.head(10)

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
5,vitara brezza,2018,9.25,9.83,2071,Diesel,Dealer,Manual,0
6,ciaz,2015,6.75,8.12,18796,Petrol,Dealer,Manual,0
7,s cross,2015,6.50,8.61,33429,Diesel,Dealer,Manual,0
8,ciaz,2016,8.75,8.89,20273,Diesel,Dealer,Manual,0
9,ciaz,2015,7.45,8.92,42367,Diesel,Dealer,Manual,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Driven_kms     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Selling_type   301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [ ]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Driven_kms       0
Fuel_Type        0
Selling_type     0
Transmission     0
Owner            0
dtype: int64

In [ ]:
df["Car_Name"].unique()

array(['ritz', 'sx4', 'ciaz', 'wagon r', 'swift', 'vitara brezza',
       's cross', 'alto 800', 'ertiga', 'dzire', 'alto k10', 'ignis',
       '800', 'baleno', 'omni', 'fortuner', 'innova', 'corolla altis',
       'etios cross', 'etios g', 'etios liva', 'corolla', 'etios gd',
       'camry', 'land cruiser', 'Royal Enfield Thunder 500',
       'UM Renegade Mojave', 'KTM RC200', 'Bajaj Dominar 400',
       'Royal Enfield Classic 350', 'KTM RC390', 'Hyosung GT250R',
       'Royal Enfield Thunder 350', 'KTM 390 Duke ',
       'Mahindra Mojo XT300', 'Bajaj Pulsar RS200',
       'Royal Enfield Bullet 350', 'Royal Enfield Classic 500',
       'Bajaj Avenger 220', 'Bajaj Avenger 150', 'Honda CB Hornet 160R',
       'Yamaha FZ S V 2.0', 'Yamaha FZ 16', 'TVS Apache RTR 160',
       'Bajaj Pulsar 150', 'Honda CBR 150', 'Hero Extreme',
       'Bajaj Avenger 220 dtsi', 'Bajaj Avenger 150 street',
       'Yamaha FZ  v 2.0', 'Bajaj Pulsar  NS 200', 'Bajaj Pulsar 220 F',
       'TVS Apache RTR 180', 'Hero Passion X pro', 'Bajaj Pulsar NS 200',
       'Yamaha Fazer ', 'Honda Activa 4G', 'TVS Sport ',
       'Honda Dream Yuga ', 'Bajaj Avenger Street 220',
       'Hero Splender iSmart', 'Activa 3g', 'Hero Passion Pro',
       'Honda CB Trigger', 'Yamaha FZ S ', 'Bajaj Pulsar 135 LS',
       'Activa 4g', 'Honda CB Unicorn', 'Hero Honda CBZ extreme',
       'Honda Karizma', 'Honda Activa 125', 'TVS Jupyter',
       'Hero Honda Passion Pro', 'Hero Splender Plus', 'Honda CB Shine',
       'Bajaj Discover 100', 'Suzuki Access 125', 'TVS Wego',
       'Honda CB twister', 'Hero Glamour', 'Hero Super Splendor',
       'Bajaj Discover 125', 'Hero Hunk', 'Hero  Ignitor Disc',
       'Hero  CBZ Xtreme', 'Bajaj  ct 100', 'i20', 'grand i10', 'i10',
       'eon', 'xcent', 'elantra', 'creta', 'verna', 'city', 'brio',
       'amaze', 'jazz'], dtype=object)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Driven_kms     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Selling_type   301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
ord = OrdinalEncoder()
df[["Car_Name","Fuel_Type","Selling_type","Transmission"]] = ord.fit_transform(df[["Car_Name","Fuel_Type","Selling_type","Transmission"]])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    float64
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Driven_kms     301 non-null    int64
 5   Fuel_Type      301 non-null    float64
 6   Selling_type   301 non-null    float64
 7   Transmission   301 non-null    float64
 8   Owner          301 non-null    int64
dtypes: float64(6), int64(3)
memory usage: 21.3 KB

In [ ]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,90.0,2014,3.35,5.59,27000,2.0,0.0,1.0,0
1,93.0,2013,4.75,9.54,43000,1.0,0.0,1.0,0
2,68.0,2017,7.25,9.85,6900,2.0,0.0,1.0,0
3,96.0,2011,2.85,4.15,5200,2.0,0.0,1.0,0
4,92.0,2014,4.60,6.87,42450,1.0,0.0,1.0,0

# Building The Model And Checking the Accuracy

In [ ]:
X = df.drop(columns="Selling_Price")
y = df["Selling_Price"]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3,random_state = 123)
y_test.head()

204    2.75
114    1.15
166    0.45
279    6.25
294    3.75
Name: Selling_Price, dtype: float64

In [ ]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error

In [ ]:
score = []
for i in range(0,1050,50):
  model = XGBRegressor(n_estimators= i, learning_rate=0.05)
  model.fit(X_train, y_train)
  print(f"n_est = {i},Accuracy Score : {model.score(X_test,y_test)*100}")
  score.append(model.score(X_test,y_test)*100)
score.sort()
score[-1]

n_est = 0,Accuracy Score : -81.55756229039757
n_est = 50,Accuracy Score : 95.05268326140006
n_est = 100,Accuracy Score : 97.10066333488767
n_est = 150,Accuracy Score : 97.29874490283731
n_est = 200,Accuracy Score : 97.29182014642002
n_est = 250,Accuracy Score : 97.2945970931922
n_est = 300,Accuracy Score : 97.31041518475638
n_est = 350,Accuracy Score : 97.31582303650671
n_est = 400,Accuracy Score : 97.31538553166554
n_est = 450,Accuracy Score : 97.31483435172233
n_est = 500,Accuracy Score : 97.3150415363227
n_est = 550,Accuracy Score : 97.31317955292288
n_est = 600,Accuracy Score : 97.3127844419575
n_est = 650,Accuracy Score : 97.31198039773096
n_est = 700,Accuracy Score : 97.31246455291989
n_est = 750,Accuracy Score : 97.31198416652133
n_est = 800,Accuracy Score : 97.3116224283175
n_est = 850,Accuracy Score : 97.31162248723994
n_est = 900,Accuracy Score : 97.31160312029223
n_est = 950,Accuracy Score : 97.3116031283295
n_est = 1000,Accuracy Score : 97.31160313636671

97.31582303650671

###From the above analysis we find out that n_estimators = 350 is the best value

In [ ]:
model = XGBRegressor(n_estimators= 350, learning_rate=0.05)
model.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.05, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=350, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    float64
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Driven_kms     301 non-null    int64
 5   Fuel_Type      301 non-null    float64
 6   Selling_type   301 non-null    float64
 7   Transmission   301 non-null    float64
 8   Owner          301 non-null    int64
dtypes: float64(6), int64(3)
memory usage: 21.3 KB

In [ ]:
df.iloc[261]

Car_Name           66.00
Year             2016.00
Selling_Price       5.50
Present_Price       5.97
Driven_kms       5600.00
Fuel_Type           2.00
Selling_type        0.00
Transmission        1.00
Owner               0.00
Name: 261, dtype: float64

In [ ]:
list(df.iloc[261])

[66.0, 2016.0, 5.5, 5.97, 5600.0, 2.0, 0.0, 1.0, 0.0]

In [ ]:
model.predict([[66.0, 2016.0, 5.97, 5600.0, 2.0, 0.0, 1.0, 0.0]])

array([5.493979], dtype=float32)

In [ ]:
df.iloc[69]

Car_Name            71.00
Year              2016.00
Selling_Price       14.25
Present_Price       20.91
Driven_kms       12000.00
Fuel_Type            2.00
Selling_type         0.00
Transmission         1.00
Owner                0.00
Name: 69, dtype: float64

In [ ]:
list(df.iloc[69])

[71.0, 2016.0, 14.25, 20.91, 12000.0, 2.0, 0.0, 1.0, 0.0]

In [ ]:
model.predict([[71.0, 2016.0, 20.91, 12000.0, 2.0, 0.0, 1.0, 0.0]])

array([14.255314], dtype=float32)